*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.pdf
!paper/main.pdf
*.run.xml
*.snm
*.synctex.gz
*.toc
*.xdv
_rendered/
__pycache__/
.ipynb_checkpoints/
.DS_Store
tmp/
paper/_rendered/
paper/*.aux
paper/*.bbl
paper/*.bcf
paper/*.blg
paper/*.fdb_latexmk
paper/*.fls
paper/*.log
paper/*.out
paper/*.run.xml
paper/*.synctex.gz
!methods_tried_detailed_report/main.pdf
